root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 79
trim_trailing_whitespace = true

[{*.md,*.rst,*.html}]
indent_size = off
max_line_length = off

[{*.sh,*.py}]
indent_size = 4

[{Makefile,*.mk}]
indent_size = 4
indent_style = tab

[{*.csv,*.html}]
max_line_length = off

[.markdown-link-check.json]
max_line_length = off

[.gitbook.yaml]
max_line_length = off

[*.md5sum]
max_line_length = off

[LICENSE]
indent_size = 1

[COMMIT_EDITMSG]
max_line_length = 72
