/* Primary color */

:root {
  --ifm-color-primary: #2e4a99;
  --ifm-color-primary-dark: #29438a;
  --ifm-color-primary-darker: #273f82;
  --ifm-color-primary-darkest: #20346b;
  --ifm-color-primary-light: #3351a8;
  --ifm-color-primary-lighter: #3555b0;
  --ifm-color-primary-lightest: #3e61c5;
}

[data-theme='dark'] {
  --ifm-color-primary: #9bd9fa;
  --ifm-color-primary-dark: #74caf8;
  --ifm-color-primary-darker: #61c3f7;
  --ifm-color-primary-darkest: #27adf4;
  --ifm-color-primary-light: #c2e8fc;
  --ifm-color-primary-lighter: #d5effd;
  --ifm-color-primary-lightest: #ffffff;
}

/* Boilerplate CSS */

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Announcement bar */

[data-theme='light'] div[role='banner'] {
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-color-white);
}

[data-theme='dark'] div[role='banner'] {
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-color-black);
}
/* Announcement bar close button */

[data-theme='light'] .close {
  color: var(--ifm-color-white);
}

[data-theme='dark'] .close {
  color: var(--ifm-color-black);
}

/* Document logo */

#docs-logo {
  margin-top: -5.3rem !important;
}

/* Document tabs bar  */

.tabs {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

/* Footer colors */

.footer {
  --ifm-footer-background-color: var(--ifm-font-color-base);
  --ifm-footer-color: var(--ifm-color-white);
  --ifm-footer-link-color: var(--ifm-color-white);
  --ifm-footer-title-color: var(--ifm-color-white);
}

[data-theme='dark'] .footer {
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
}
