/* Set Roboto font for body text. However, we have to be careful not to
override the default font used to create icons. */
body,
.navbar-brand-box *,
.dropdown-buttons li,
.section *,
.prev-next-info * {
  font-family: 'Roboto', sans-serif !important;
}

/* Can't get this to work without breaking the style of the menu at the top */
/*
.bd-toc nav {
  background-color: #ffffff;
  background: url(/_static/img/curve.png);
  background-position: bottom right 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*/

/* Restores the default font family for the top nav so the icons line up */
.topbar-main {
  font-family: var(--pst-font-family-base);
}

#site-navigation h1.site-logo {
  margin-top: 1em;
}

#site-navigation h1.site-logo:first-word {
  display: none;
}

/* Copying the same rule from the theme but reducing by five units */
div.navbar-brand-box a.navbar-brand img {
  max-height: 10vh !important;
}

a.download code span {
  font-weight: 600;
  font-size: 1.1em !important;
}

blockquote.epigraph {
  padding-left: 0 !important;
  font-style: italic !important;
  margin-left: 0;
  margin-right: 0;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

blockquote.epigraph p {
  color: rgba(0, 0, 0, 0.4) !important;
}
