root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 79
trim_trailing_whitespace = true

[*.rst]
max_line_length = off
indent_size = off

[*.py]
indent_size = off

[*.csv]
max_line_length = off

[*.md]
indent_size = off
max_line_length = off

[*.sh]
indent_size = 4

[Dockerfile]
indent_size = 4

[Makefile]
indent_size = 4
indent_style = tab

[*.mk]
indent_size = 4
indent_style = tab

[*.html]
max_line_length = off

[.mlc.json]
max_line_length = off

[LICENSE]
indent_size = 1

[COMMIT_EDITMSG]
max_line_length = 72
