root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 79
trim_trailing_whitespace = true

[*.md]
indent_size = off
max_line_length = off

[*.html]
indent_size = off
max_line_length = off

[*.csv]
max_line_length = off

[*.sh]
indent_size = 4

[Makefile]
indent_size = 4
indent_style = tab

[.markdown-link-check.json]
max_line_length = off

[.gitbook.yaml]
max_line_length = off

[*.md5sum]
max_line_length = off

[COMMIT_EDITMSG]
max_line_length = 72
